.condicioner {
  background: rgba(243, 249, 255, 1);
  padding: 120px 20px;
}
.condicioner .container {
  padding: 48px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
}
.condicioner-text {
  max-width: 550px;
}
.condicioner-text-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  padding-bottom: 24px;
  letter-spacing: 0px;
  color: rgba(5, 4, 19, 1);
}
.condicioner-text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 32px;
  color: rgba(60, 60, 70, 1);
}
.condicioner-img {
  max-width: 50%;
  width: 100%;
}

.condicioner-text a {
  max-width: 220px !important;
  width: 100% !important;
}

@media (max-width: 1100px) {
  .condicioner {
    padding: 60px 20px;
  }
  .condicioner .container {
    flex-direction: column;
    gap: 32px;
  }
  .condicioner-text {
    max-width: 100%;
  }
  .condicioner-img {
    max-width: 100%;
  }
}

@media (max-width: 740px) {
  .condicioner-text a {
    max-width: 100%;
    width: 100%;
  }
  .condicioner-text-title {
    font-size: 25px;
  }
  .condicioner .container {
    padding: 24px;
  }
}
