.hero {
  padding: 120px 0 100px;
  color: rgba(255, 255, 255, 1);
}

.hero-expirienct {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  padding: 4px 12px;
  border-radius: 30px;
  max-width: 510px;
  width: max-content;
  margin: 0 auto;
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  max-width: 830px;
  margin: 32px auto 24px;
}
.hero-undertitle-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}
.hero-buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 1100px) {
  .hero {
    padding: 80px 0 60px;
  }
}

@media (max-width: 720px) {
  .hero-buttons {
    flex-direction: column;
  }
  .hero-title {
    font-size: 32px;
    margin: 24px 0 20px;
  }
  .hero-expirienct {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  .hero-title {
    font-size: 28px;
    margin: 24px 0 20px;
  }

  .hero {
    padding: 32px 0 60px;
  }
}

@media (max-width: 600px) {
  .hero {
    background: linear-gradient(180deg, #2f68d0 0%, #64abee 86.06%);
  }
  .hero {
    padding: 40px 0 60px;
  }
}
@media (max-width: 430px) {
  .hero {
    padding: 32px 0 60px;
  }
}
@media (max-width: 370px) {
  .hero-expirienct {
    font-size: 12px;
  }
}
